.input-code {
  margin: 4px;
  border-radius: 5px;
  height: 80px;
  width: 290px;
  border: 2px solid red;
  font-size: 70px;
  letter-spacing: 30px;
  text-align: center;
  border: 1px solid #aaa;

  &.error {
    box-shadow: 0 0 3px #FF0000, inset 0 0 3px #FF0000;
    background-color: #FFDDDD;
    color: #FF0000;
  }

  &.success {
    box-shadow: 0 0 3px #00FF99, inset 0 0 3px #00FF99;
    background-color: #55FFAA;
    color: #00DD00;
  }
}

.message {
  position: absolute;
  top: 20%;
  width: 400px;
  height: 200px;
  background-color: white;
  visibility: hidden;

  &.success {
    border: 2px solid green;
  }

  &.failure {
    border: 2px solid red;
  }
}

.keypad {
  display: flex;
  width: 300px;
  height: 400px;
  flex-wrap: wrap;

  .key {
    margin: 4px;
    border-radius: 4px;
    flex-basis: 30%;
    border: 1px solid #aaa;

    &:active {
      box-shadow: 0 0 8px #ccc, inset 0 0 8px #aaa;
      background: #eeeeee;
    }

    div {
      display: flex;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-self: center;
      align-items: center;
    }
  }
}

