/* You can add global styles to this file, and also import other style files */

body, html {
  font-family: Helvetica,sans-serif;
  font-size: 150%;
  padding:0;
  margin: 0;
  background: #03171E;
}
